<h1 class="display-4 project-header">Change Management 2.0</h1>
<p class="lead project-type">Web Application</p>
<hr class="my-4">
<div class="row">
	<div class="col-md-6">
		<div class="card mt-3 mb-3">
			<div class="card-body">
				<p>I worked on this project during my frist internship at Ultimate Software. The web application is used internally to schedule and approve changes to company services. I mostly worked on the front-end with additional work handeling the API and constructing the database for the projcet.</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card mt-3 mb-3">
			<div class="card-body">
				<div class="row mb-2"><img class="w-100 h-100 expandable" src="/static/images/cm2.0/Ultimate_site1.png"></div>
				<div class="row"><img class="w-100 h-100 expandable" src="/static/images/cm2.0/Ultimate_site2.png"></div>
			</div>
		</div>
	</div>
	</div>

<div class="modal fade w-100" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>
