<footer class="mt-5 footer">
	<div class="bg-light text-dark text-center mb-0">
	<p class="mb-0">Made with:</p>
	<p class="mb-0">
		<img width=32 height=32 alt="Docker" src="/static/images/icons/docker.png">
		<img width=32 height=32 alt="Flask" src="/static/images/icons/flask.png">
		<img width=32 height=32 alt="Raspberry Pi" src="/static/images/icons/pi.png">
		<img width=32 height=32 alt="jQuery" src="/static/images/icons/jquery.png">
		<img width=32 height=32 alt="Bootstrap" src="/static/images/icons/bootstrap.png">
	</p>
	<p class="mb-0"><b>aaron.chambers81@gmail.com &ensp; | &ensp; (352)283-1401</b></p>
	</div>
</footer>
</body>
</html>
