<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Aaron Chambers</title> 
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <!-- FontAwesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  <!-- Bootstrap Slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.1/bootstrap-slider.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.1/css/bootstrap-slider.min.css">

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}"></link>

  <script type=text/javascript src="{{url_for('static', filename='scripts/main.js') }}"></script>

  <style>
    body { 
      padding-top: 75px; 
    }
  </style>
</head> 
<body style='display: none'>
  <div class="container">
    <div class="header">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" id="navbar">
        <div class="container">
          <a class="navbar-brand mr-1 mb-1 mt-0" href="#">Aaron Chambers</a>
          <div class="navbar-collapse collapse justify-content-center">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Resume</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('projects', p='ein') }}">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('light') }}">Light</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://github.com/aaron64/">Github</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/aaron-chambers-0b7221a2/">LinkedIn</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
