<div class="row justify-content-center">
  <div class="col-md-4 mt-4">
    <h1>Hello,</br> my name is Aaron</h1>
    <p>
      I am a software developer interested in all things from web to embedded. Starting from an interest in high school to make my own games, I have since worked on enterprise software for small and medium companies, developed scripts for medical training projects, and still like to break boards and IOT lightbulbs along the way.
    </p>
    <hr>
    <div class="row">
        <a class="btn btn-outline-secondary mr-2" class="nav-link" href="{{ url_for('resume') }}"><b style="color: #444">Resume</b></a>
        <a class="btn btn-outline-secondary mr-2" class="nav-link" href="{{ url_for('projects', p='ein') }}"><b style="color: #444">Portfolio</b></a>
        <a class="btn btn-outline-secondary mr-2" class="nav-link" href="{{ url_for('contact') }}"><b style="color: #444">Contact</b></a>
    </div>
  </div>
</div>