  <div class="row">
    <div class="col-md-12">
      <div class="row justify-content-center">
        <h2><i class="fas fa-university mr-2 text-primary"></i></h2>
      </div>
      <div class="row justify-content-center">
        <h2>Education</h2>
      </div>

      <div class="row justify-content-center content-desktop d-none d-sm-none d-md-flex">
        <div class='card mt-3 mb-3'> 
          <h5 class='card-header'> Santa Fe College </h5>
          <div class='card-body'> 
            <div><i class='far fa-calendar-alt mr-2'></i> 2014 - 2016 </div>
            <div><i class='far fa-user mr-2'></i> Associates Degree </div> 
            <ul>
            </ul>
          </div>
        </div>

        <i class="fas fa-arrow-right my-auto mr-4 ml-4 text-primary" style="font-size:60px;"></i>

        <div class='card mt-3 mb-3'> 
          <h5 class='card-header'> University of Florida </h5>
          <div class='card-body'> 
            <div><i class='far fa-calendar-alt mr-2'></i> 2016 - Present </div>
            <div><i class='far fa-user mr-2'></i> Computer Science student </div> 
            <ul>
              <li>GPA: 3.3</li>
              <li>Physics Minor</li>
              <li>Graduating December 2019</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row justify-content-center content-phone d-block d-sm-none">
        <div class='row justify-content-center card mt-3 mb-3'> 
          <h5 class='card-header text-center'> Santa Fe College </h5>
          <div class='card-body text-center'> 
            <div><i class='far fa-calendar-alt mr-2'></i> 2014 - 2016 </div>
            <div><i class='far fa-user mr-2'></i> Associates Degree </div> 
            <ul>
            </ul>
          </div>
        </div>
        <div class="row justify-content-center">
          <i class="fas fa-arrow-down my-auto mr-4 ml-4 text-primary" style="font-size:60px;"></i>
        </div>
        <div class='row justify-content-center card mt-3 mb-3'> 
          <h5 class='card-header text-center'> University of Florida </h5>
          <div class='card-body text-center'> 
            <div><i class='far fa-calendar-alt mr-2'></i> 2016 - Present </div>
            <div><i class='far fa-user mr-2'></i> Computer Science student </div> 
            <div class="row justify-content-center">
              <div class="col-8">
                <ul class="text-left">
                  <li>GPA: 3.3</li>
                  <li>Physics Minor</li>
                  <li>Graduating August 2019</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>

  <div class=" row justify-content-center">
    <h2><i class="far fa-building mr-2 text-danger"></i></h2>
  </div>
  <div class="row justify-content-center">
    <h2>Work Experience</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="card-work mx-auto">
        </div>
      </div>
      <hr>
    </div>
  </div>

  <div class="row justify-content-center">
    <h2><i class="fas fa-code mr-2 text-warning"></i>Skills</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 bg-warning">
      <div class="p-1 text-light">
        <h3>Languages</h3>
        <div class="languages">

        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="p-1">
        <div class="row">
          <h5 class="text-warning text-center"><b>Tech</b></h5>
        </div>
        <div class="row code-row">
          
        </div>
        <div class="row">
          <h5 class="text-warning text-center"><b>Os</b></h5>
        </div>
        <div class="row os-row">

        </div>
        <div class="row">
          <h5 class="text-warning text-center"><b>Misc</b></h5>
        </div>
        <div class="row misc-row">
          
        </div>
        <div class="row">
          <h5 class="text-warning text-center"><b>Hardware</b></h5>
        </div>
        <div class="row hardware-row">
          
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 d-md-none d-sm-flex">
    <div class="row code-row">
      <h5 class="text-warning text-center"><b>Tech</b></h5>
      <hr>
    </div>
    <div class="row os-row">
      <h5 class="text-warning text-center"><b>Os</b></h5>
      <hr>
    </div>
    <div class="row mt-4 misc-row">
      <h5 class="text-warning text-center"><b>Misc</b></h5>
      <hr>
    </div>
    <div class="row mt-4 hardware-row">
      <h5 class="text-warning text-center"><b>Hardware</b></h5>
      <hr>
    </div>
  </div>
  </div>
</div>
<script type=text/javascript src="{{url_for('static', filename='scripts/index.js') }}"></script>
