    <div class="row mb-3">
      <div class="col-md-12">
        <h2><i class="fas fa-university mr-2"></i>Education</h2>
      </div>
      <div class="row card-education">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <h2><i class="far fa-building mr-2"></i>Work Experience</h2>
      </div>
      <div class="row card-work">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <h2><i class="fas fa-code mr-2"></i>Skills</h2>
        <div class="row">
          <div class="col-md-2 technologies-keys">
            <div class="row form-group"><button type="button" class="btn btn-success technology-key" data-tech='CPP' data-techCol='success'>C++</button></div>
            <div class="row form-group"><button type="button" class="btn btn-primary technology-key" data-tech='Java' data-techCol='primary'>Java</button></div>
            <div class="row form-group"><button type="button" class="btn btn-danger technology-key" data-tech='Python' data-techCol='danger'>Python</button></div>
            <div class="row form-group"><button type="button" class="btn btn-warning technology-key" data-tech='Web' data-techCol='warning'>Web</button></div>
            <div class="row form-group"><button type="button" class="btn btn-secondary technology-key" data-tech='OS' data-techCol='secondary'>OS</button></div>
            <div class="row form-group"><button type="button" class="btn btn-dark technology-key" data-tech='Misc' data-techCol='dark'>Misc</button></div>
          </div>
          <div class="col-md-10 technologies-values">

          </div>
        </div>
      </div>
    </div>
  </div>
<script type=text/javascript src="{{url_for('static', filename='scripts/resume.js') }}"></script>
</body>