
  <div class="container">
    <h1>Light</h1>
    <p>This is some text.</p> 
    <div class="col-md-12 color-selector">
    	<div class='row form-group'>
              <div class="col-md-1">
    		<a href=# class='btn-light-on'><button type="button" class="btn btn-light">On</button></a>
              </div>
              <div class="col-md-1">
    		<a href=# class='btn-light-off'><button type="button" class="btn btn-dark">Off</button></a>
              </div>
    	</div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <input id="brightness-slider" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="75"/>
      </div>
    </div>
  </div>
<script type=text/javascript src="{{ url_for('static', filename='scripts/light.js') }}"></script>
</body>

