<div class="row-work">
  <div class="row-work row justify-content-center">
    <h2><i class="far fa-building mr-2 text-danger"></i></h2>
  </div>
  <div class="row justify-content-center">
    <h2>Work Experience</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="row">
        <div class="card-work mx-auto"></div>
      </div>
      <hr>
    </div>
  </div>
</div>

<div class="row-education">
  <div class="col-md-12">
    <div class="row justify-content-center">
      <h2><i class="fas fa-university mr-2 text-primary"></i></h2>
    </div>
    <div class="row justify-content-center">
      <h2>Education</h2>
    </div>

    <div class="row justify-content-center content-desktop d-none d-sm-none d-md-flex">
      <div class='card mt-3 mb-3'> 
        <h5 class='card-header'> Santa Fe College </h5>
        <div class='card-body'> 
          <div><i class='far fa-calendar-alt mr-2'></i> 2014 - 2016 </div>
          <div><i class='far fa-user mr-2'></i> Associates Degree </div> 
          <ul>
          </ul>
        </div>
      </div>

      <i class="fas fa-arrow-right my-auto mr-4 ml-4 text-primary" style="font-size:60px;"></i>

      <div class='card mt-3 mb-3'> 
        <h5 class='card-header'> University of Florida </h5>
        <div class='card-body'> 
          <div><i class='far fa-calendar-alt mr-2'></i> 2016 - Present </div>
          <div><i class='far fa-user mr-2'></i> Computer Science student </div> 
          <ul>
            <li>GPA: 3.3</li>
            <li>Physics Minor</li>
            <li>Graduating December 2019</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row justify-content-center content-phone d-block d-sm-none">
      <div class='row justify-content-center card mt-3 mb-3'> 
        <h5 class='card-header text-center'> Santa Fe College </h5>
        <div class='card-body text-center'> 
          <div><i class='far fa-calendar-alt mr-2'></i> 2014 - 2016 </div>
          <div><i class='far fa-user mr-2'></i> Associates Degree </div> 
          <ul>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <i class="fas fa-arrow-down my-auto mr-4 ml-4 text-primary" style="font-size:60px;"></i>
      </div>
      <div class='row justify-content-center card mt-3 mb-3'> 
        <h5 class='card-header text-center'> University of Florida </h5>
        <div class='card-body text-center'> 
          <div><i class='far fa-calendar-alt mr-2'></i> 2016 - Present </div>
          <div><i class='far fa-user mr-2'></i> Computer Science student </div> 
          <div class="row justify-content-center">
            <div class="col-8">
              <ul class="text-left">
                <li>GPA: 3.3</li>
                <li>Physics Minor</li>
                <li>Graduating August 2019</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>

<div class="row-skills">
  <div class="row justify-content-center">
    <h2><i class="fas fa-code mr-2 text-warning"></i>Skills</h2>
  </div>
  <div class="row mb-4 justify-content-center">(<b>Bold</b> = day-to-day comfort)</div>
  <div class="row justify-content-center d-none d-md-flex">
    <div class="col code-col text-center">
      <h5 class="text-warning"><b>Code</b></h5>
      <hr>
    </div>
    <div class="col os-col text-center">
      <h5 class="text-warning"><b>Os</b></h5>
      <hr>
    </div>
    <div class="col misc-col text-center">
      <h5 class="text-warning"><b>Misc</b></h5>
      <hr>
    </div>
    <div class="col hardware-col text-center">
      <h5 class="text-warning"><b>Hardware</b></h5>
      <hr>
    </div>
  </div>

  <div class="row justify-content-center d-md-none d-sm-flex">
    <div class="col-6 code-col text-center">
      <h5 class="text-warning"><b>Code</b></h5>
      <hr>
    </div>
    <div class="col-6 os-col text-center">
      <h5 class="text-warning"><b>Os</b></h5>
      <hr>
    </div>
    <div class="col-6 mt-4 misc-col text-center">
      <h5 class="text-warning"><b>Misc</b></h5>
      <hr>
    </div>
    <div class="col-6 mt-4 hardware-col text-center">
      <h5 class="text-warning"><b>Hardware</b></h5>
      <hr>
    </div>
  </div>
</div>
</div>
<script type=text/javascript src="{{url_for('static', filename='scripts/resume.js') }}"></script>
