<div class="row justify-content-center">
  <div class="d-none d-md-flex">
    <h4>
      <code style="display: block; white-space: pre-wrap;">
      {
        name:       <span class="fake-json-val">Aaron Chambers</span>
        email:      <span class="fake-json-val">aaron.chambers81@gmail.com</span>
        phone:      <span class="fake-json-val">352-283-1401</span>
        linkedIn:   <a target="_blank" href="https://www.linkedin.com/in/aaron-chambers-0b7221a2/">https://www.linkedin.com/in/aaron-chambers-0b7221a2/</a>
        gitHub:     <a target="_blank" href="https://github.com/aaron64/">https://github.com/aaron64/</a>
      }
      </code>
    </h4>
  </div>
  <div class="d-md-none d-sm-flex">
    <div>
      <code style="display: block; white-space: pre-wrap">
  {
    name:       <span class="fake-json-val">Aaron Chambers</span>
    email:      <span class="fake-json-val">aaron.chambers81@gmail.com</span>
    phone:      <span class="fake-json-val">352-283-1401</span>
    linkedIn:   <a target="_blank" href="https://www.linkedin.com/in/aaron-chambers-0b7221a2/">/aaron-chambers-0b7221a2/</a>
    gitHub:     <a target="_blank" href="https://github.com/aaron64/">/aaron64/</a>
  }
      </code>
    </div>
  </div>
</div>
