<div class="row justify-content-center">
  <div class="col-md-4">
    <h1>Hello,</br> my name is Aaron</h1>
    <p>
      In the world of embedded systems, my playground is where software meets the silicon. With some back-end web dev experience and an affinity for electronics and 3D printing, there's always something exciting in the works. Here's where I share it all.
    </p>
    <hr>
    <div class="row">
        <a class="btn btn-outline-secondary mr-2" class="nav-link" href="{{ url_for('resume') }}"><b style="color: #444">Resume</b></a>
        <a class="btn btn-outline-secondary mr-2" class="nav-link" href="{{ url_for('projects', p='ein') }}"><b style="color: #444">Portfolio</b></a>
        <a class="btn btn-outline-secondary mr-2" class="nav-link" href="{{ url_for('contact') }}"><b style="color: #444">Contact</b></a>
    </div>
  </div>
</div>